<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franco - PetShop</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Local CSS -->
    <link rel="stylesheet" href="./assets/styles/style.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap" rel="stylesheet">

    <!-- CDN Vue JS -->
    <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
    <header>
        <div>
            <img src="./assets/img/schnauzer-logo.png" class="img-fluid" alt="schnauzer-logo">
        </div>
        <div class="title">
            <h1>Franco</h1>
            <h3>Pet Shop</h3>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="farmacia.html">Farmacia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" active aria-current="page" href="juguetes.html">Juguetes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main id="toys">
        <div id="app">
            <div class="d-flex sticky-top flex-row-reverse">
                <div class="cartIcon" @click="isCartVisible = !isCartVisible" :class="{'moveCart' : isCartVisible}">
                    <span class="cartCounter">{{updateCartCounter}}</span>
                    <img src="./assets/img/cart.png" alt="cart-img">
                </div>
                <div class="cartTable cartContent" :class="{'cartShow' : isCartVisible}">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Producto: </th>
                                <th scope="col">Cantidad: </th>
                                <th scope="col">Precio: </th>
                                <th scope="col">Subtotal: </th>
                                <th scope="col">Quitar: </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="product in cart" :key="product.id">
                                <td>{{product.name}}</td>
                                <td>
                                    <button class="➖" @click="product.counter--" :disabled="product.counter < 2"> ➖
                                    </button>
                                    {{product.counter}}
                                    <button class="➖" @click="product.counter++"
                                        :disabled="product.stock <= product.counter"> ➕
                                    </button>
                                </td>
                                <td>{{product.price}}</td>
                                <td>{{product.counter * product.price}}</td>
                                <td><button class="➖" @click="removeFromCart(product)"> ✖ </button></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Total: </td>
                                <td>{{cartTotal}}</td>
                            </tr>
                        </tfoot>
                    </table>
                    <button data-bs-toggle="modal" data-bs-target="#exampleModal">Realizar Compra</button>
                </div>

            </div>
            <h2>Juguetes</h2>
            <div class="container pharmacyCards">
                <div v-for="toyProduct in toysData" :key="toyProduct._id">
                    <div class="cardStyle">
                        <img :src="toyProduct.imagen" class="card-img-top" :alt="toyProduct.nombre">
                        <div class="cardContent">
                            <h5>{{toyProduct.nombre}}</h5>
                            <hr>
                            <p class="overflow-auto">{{toyProduct.descripcion}}</p>
                            <h6 v-if="toyProduct.stock > 0 && toyProduct.stock < 5" class="ultimasUnidades">
                                Ultimas unidades!!!</h6>
                            <cards-counter :id="toyProduct._id" :name="toyProduct.nombre" :stock="toyProduct.stock"
                                :price="toyProduct.precio" @add-to-cart="updateCart"></cards-counter>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Realizar Pago</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body realizarPago">
                            <div class="pagosLabel">
                                <label for="name">Nombre: </label>
                                <label for="numero">Número de Tarjeta: </label>
                                <label for="cvv">Código de seguridad: </label>
                                <label for="vencimiento">Fecha de Vencimiento: </label>
                                <label for="descripcion">Descripción: </label>
                                <label for="monto">Monto: </label>
                            </div>
                            <div class="pagosInput">
                                <input type="text" name="name" v-model="cardName" placeholder="Titular de tarjeta">
                                <input type="text" name="numero" v-model="cardNumber" placeholder="XXXX-XXXX-XXXX-XXXX">
                                <input type="number" name="cvv" v-model="cardCvv" placeholder="XXX">
                                <input type="text" name="vencimiento" v-model="cardVto" placeholder="aa/mm">
                                <input type="text" name="descripcion" v-model="cardDesc"
                                    placeholder="Pago Franco PetShop">
                                <input type="number" name="monto" v-model="cardMonto" placeholder="$">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                @click="resetCard">Cancel</button>
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                                @click="confirmarPago">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="author">
            <p>&copy;Pablo Herrera</p>
            <p><a href="mailto:paaherre@gmail.com">paaherre@gmail.com</a></p>
        </div>
        <div class="service">
            <ul><span>Servicios: </span>
                <li><a href="farmacia.html">Farmacia</a></li>
                <li><a href="juguetes.html">Juguetes</a></li>
            </ul>
        </div>
        <div class="rs">
            <a href="https://www.facebook.com" target="_blank"><img src="./assets/img/logo_fb.png" alt="logo-fb"></a>
            <a href="https://www.instagram.com" target="_blank"><img src="./assets/img/logo_insta.png"
                    alt="logo_insta"></a>
        </div>
    </footer>


    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- Local JS -->
    <script src="./js/main.js"></script>
    <script src="./js/components/cardsCounter.js"></script>

    <!-- Sweet Alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Mount App -->
    <script>
        const mountedApp = app.mount('#app')
    </script>

</body>

</html>